<nav class="navbar" *ngIf="currentPage !== 'login'">
  <div class="nav-left">
    <a (click)="navigate('budgeting')" [ngClass]="{ 'active': currentPage === 'budgeting' }">Inicio</a>
    <a (click)="navigate('perfil')" [ngClass]="{ 'active': currentPage === 'perfil' }">Perfil</a>
  </div>
  <div class="nav-right">
    <button class="logout-button" (click)="logout()">Logout</button>
  </div>
</nav>

<!-- Contenido según la página actual -->
<div *ngIf="currentPage === 'login'">
  <app-login (loginSuccess)="navigate('budgeting')"></app-login>
</div>

<div *ngIf="currentPage === 'budgeting'">
  <app-budgeting></app-budgeting>
</div>

<div *ngIf="currentPage === 'perfil'">
  <app-perfil></app-perfil>
</div>
