/* Full-page login styles */
.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background: linear-gradient(135deg, #4CAF50, #4CAF50);
    font-family: 'Arial', sans-serif;
  }
  
  .login-box {
    width: 80%;
    max-width: 400px;
    padding: 5%;
    background: #ffffff;
    box-shadow: 0 4% 8% rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    text-align: center;
  }
  
  .login-box h2 {
    font-size: 2rem;
    margin-bottom: 2rem;
    color: #333;
  }
  
  .login-box input[type="text"],
  .login-box input[type="password"],
  .login-box input[type="email"],
  .login-box input[type="confirmpassword"] {
    width: 90%;
    padding: 1rem;
    margin: 1rem 0;
    border: 2px solid #ccc;
    border-radius: 10px;
    font-size: 1rem;
  }
  
  .login-box input[type="text"]:focus,
  .login-box input[type="password"]:focus {
    border-color: #4CAF50;
  }
  
  .login-box button {
    width: 90%;
    padding: 1rem;
    background-color: green;
    color: #fff;
    border: none;
    border-radius: 10px;
    font-size: 1.2rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .login-box button:hover {
    background-color: #4CAF50;
  }
  
  .login-box button:active {
    transform: scale(0.97);
  }
  


  .logon-link {
    display: inline-block;
    padding: 10px 20px;
    color: blue;
    text-decoration: none;
    border-radius: 5px; /* Bordes redondeados */
    font-weight: bold;
    text-align: center;
    transition: background-color 0.3s ease, transform 0.2s ease;
  }
  
  .logon-link:hover {
    transform: scale(1.05); /* Efecto de zoom */
  }
  
  .logon-link:active {
    transform: scale(0.95); /* Pequeña contracción al hacer clic */
  }
  